ImageJ/jre
ImageJ/luts
ImageJ/macros
ImageJ/ij.jar
ImageJ/ImageJ.cfg
ImageJ/ImageJ.exe
ImageJ/plugins/3D
ImageJ/plugins/Analyze
ImageJ/plugins/Color
ImageJ/plugins/Examples
ImageJ/plugins/Filters
ImageJ/plugins/Graphics
ImageJ/plugins/Input-Output
ImageJ/plugins/jars
ImageJ/plugins/Scripts
ImageJ/plugins/Stacks
ImageJ/plugins/Tools
ImageJ/plugins/README.txt